<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add SubCategory</title>
<link th:replace="admin/layout/assets :: css" />
</head>
<body>
	<div id="container">
		<!-- side navbar here  -->
		<link th:replace="admin/layout/assets :: sideBar" />
		<div id="content_wrap">
			<div class="content_box">
				<!-- header here  -->
				<link th:replace="admin/layout/assets :: header" />

			</div>
			<div id="sub_content">
				<h5 class="fw-bold">Add SubCategory</h5>
				<div class="row justify-content-center">
					<div class="col-lg-8 bg-gray p-5 mt-5 rounded-5">


						<form method="post" th:action="@{/sub-category/add}"
							th:object="${subCategory}">
							<div class="mb-3">
								<label for="name" class="form-label">Subcategory Name:</label> <input
									type="text" th:field="*{name}" class="form-control" id="name" />
							</div>
							<div class="mb-3">
								<label for="categoryId" class="form-label">Category:</label> <select
									th:field="*{categoryId}" aria-label="Education" id="categoryId"
									class="form-select">
									<option value="" disabled selected>Select a Category</option>
									<option th:each="category : ${categories}"
										th:value="${category.id}" th:text="${category.name}"></option>
								</select>
							</div>
							<div class="text-end">
								<a href="#" class="btn btn-secondary">Cancel</a>
								<button type="submit" class="btn btn-primary">Add</button>
							</div>
						</form>



					</div>
				</div>
			</div>
		</div>
		<!-- js   -->
		<link th:replace="admin/layout/assets :: js" />
</body>
</html>