<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link th:replace="admin/layout/assets :: css" />
</head>
<body class="container ">
	<div id="login" class="d-flex align-items-center">
		<form action="" method="POST" class="row g-3 login">
			<h1>Welcome back!</h1>
			<span class="form-label mb-3">Enter your Credentials to access
				your account</span>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Email
					address</label> <input type="email" class="form-control"
					id="exampleFormControlInput1" placeholder="Enter your email">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Password</label>
				<input type="email" class="form-control"
					id="exampleFormControlInput1" placeholder="Password">
			</div>
			<div class="form-check d-flex  align-items-center gap-2">
				<input class="form-check-input" type="checkbox" value=""
					id="flexCheckChecked" checked> <label
					class="form-check-label" for="flexCheckChecked">Remember
					for 30 days</label>
			</div>
			<div class="d-grid gap-2">
				<button class="btn form-btn" type="button">Login</button>
			</div>
			<div class=" text-center">
				<span>New Customer? <a th:href="@{/signup}" class=" text-decoration-none">Sign
						Up Here </a></span>
			</div>
		</form>
		<div class="image">
			<img
				th:src="@{/resources/images/mike-petrucci-c9FQyqIECds-unsplash.jpg}">
		</div>
	</div>
</body>
</html>