<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
<link th:replace="admin/layout/assets :: css" /> 
</head>
<body>
	<div id="sign-in" class="d-flex align-items-center">  
        <form action="" method="POST" class="row g-3 signin">
            <h1>Get Started Now</h1>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">I agree to the terms & policy</label>
            </div>
            <div class="d-grid gap-2">
                <button class="btn form-btn" type="button">Signup</button>
            </div>
        </form>
        <div class="image">
            <img th:src="@{/resources/images/signup.png}">
        </div>
    </div>
</body>
</html>